@import '../theme.scss';

$card-height: 120px;
$card-width: $card-height / 4 * 3;
$card-title-height: $card-height / 6;
$card-footer-height: $card-title-height;

$card-border-radius-thickness: 2px;
$card-border-radius: 5px;
$card-inner-border-radius: $card-border-radius - $card-border-radius-thickness;

$card-body-height: $card-height - $card-title-height - $card-footer-height - 2 * $card-border-radius-thickness;
$card-text-padding: $card-title-height / 10;

$card-title-font-size: $card-title-height / 1.8;
$card-body-font-size: $card-body-height / 1.8;
$card-footer-font-size: $card-footer-height / 1.8;

.Card {
  height: $card-height;
  width: $card-width;
  padding: 0px;

  border: $card-border-radius-thickness solid $card-border-color;
  border-radius: $card-border-radius;
}

.Card-title {
  font-size: $card-title-font-size;
  height: $card-title-height;
  border-top-left-radius: $card-inner-border-radius;
  border-top-right-radius: $card-inner-border-radius;

  padding: $card-text-padding 0 $card-text-padding 0;
}

.Card-body {
  display: table-cell;
  height: $card-body-height;
  width: $card-width;

  vertical-align: middle;
  text-align: center;
}

.Card-frequency {
  font-size: $card-body-font-size;
  display: inline-block;
}

.Card-footer {
  font-size: $card-footer-font-size;
  height: $card-footer-height;
  border-bottom-left-radius: $card-inner-border-radius;
  border-bottom-right-radius: $card-inner-border-radius;
  
  padding: $card-text-padding 0 $card-text-padding;
}

.Card-rewards {
  display: flex;
}

.Card-reward {
  flex-grow: 1;
}
