@import './Card.scss';

.Field {
  min-width: $card-width;
  height: 300px;
  display: flex;
  flex-direction: column;

  background-color: rgb(90, 24, 24);
}

.Field-Card-Container {
  flex: 1 0 0;
  overflow-y: hidden;

  margin-bottom: -5px;

  border-radius: $card-border-radius $card-border-radius 0 0;
}

.Field-Card-Container:last-child {
  flex: 0 0 auto;
  height: $card-height;
  
  margin-bottom: 0px;
}
