@import '../theme.scss';

.Game {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2px;
}

.Game-Actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
  background-color: $game-actions-color;
}
