@import '../theme.scss';

.Player-Actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  background-color: $actions-bar-color;
}

.Player-Actions .Primary-Button {
  margin-top: 5px;
  margin-bottom: 5px;
}
