.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

/* ----- colors ----- */
/* ----- component styles ----- */
.Card {
  height: 240px;
  width: 180px;
  margin: 5px;
  border: 2px solid black;
  border-radius: 5px; }

.Card-title {
  height: 40px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 5px 0 5px 0; }

.Card-body {
  display: table-cell;
  height: 156px;
  width: 180px;
  vertical-align: middle;
  text-align: center; }

.Card-frequency {
  font-size: 54pt;
  display: inline-block; }

.Card-footer {
  height: 40px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 5px 0 5px; }

.Card-rewards {
  display: flex; }

.Card-reward {
  flex-grow: 1; }

.Hand {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }
